/OpenCover
/packages
/TestResults
/PasPasPasTests/TestResults
/PasPasPasTests/obj
/PasPasPasTests/bin
/paspaspas/obj
/paspaspas/bin
/pppas/bin
/pppas/obj
/pppas/*.user
/.vs/paspaspas/v14/.suo
/Testfiles
